id_cur1 CURSOR "Cursor_1.cur"
id_cur2 CURSOR "Cursor_2.cur"
id_cur3 CURSOR "Cursor_3.cur"
id_cur4 CURSOR "Cursor_4.cur"
id_cur5 CURSOR "Cursor_5.cur"
id_cur6 CURSOR "Cursor_6.cur"

id_cur7 CURSOR "Cursor_15.cur"
id_cur8 CURSOR "Cursor_16.cur"
id_cur9 CURSOR "Cursor_17.cur"
id_cur10 CURSOR "Cursor_18.cur"
id_cur11 CURSOR "Cursor_19.cur"
id_cur12 CURSOR "Cursor_20.cur"
id_cur13 CURSOR "Cursor_9.cur"
