MADS	RCDATA "mads.def"
EXOM	RCDATA "exomizer.def"

RMTASM	RCDATA "rmt.def"
G2FLOGO RCDATA "g2f_logo.def"
PROGRAM	RCDATA "anima.def"
LOAFNT	RCDATA "loa_fnt.def"
FADING	RCDATA "fade.def"
HVSCROL	RCDATA "hvscrol.def"
VBXE	RCDATA "vbxefx.def"
PRINTF	RCDATA "printf.def"
SLIDE	RCDATA "slideshow.def"
RMTPLAY	RCDATA "rmtplayer.def"
RMTRELO	RCDATA "rmt_relocator.def"
RMT	RCDATA "music.def"
RMTFEAT	RCDATA "music_feat.def"
FADECHR	RCDATA "fade_chars.def"
ATARIH	RCDATA "atari.def"

